@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient{
    background : linear-gradient(
        179.14deg,
        rgba(32,18,63,0) -7.14%,
        #000000 87.01%
    );
}
    input[type="data"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    cursor: pointer;
  }

